.row
  .col-lg-5.hidden-xs.hidden-sm.hidden-md{ style: "padding-right: 0" }
    = image_tag "headshots/lisa-demo.jpg", style: "width:100%", alt: "Lisa Mueller - Demo"
  .col-xs-12.col-lg-7
    .hidden-sm.hidden-md= render "layouts/menu"

    .text-center{ style: "padding: 1rem 0;" }
      - @logos.each_with_index do |logo, index|
        .client-logo{ class: @logos.size - 1 == index ? "client-logo-last" : nil }
          = image_tag "clients/#{logo}"
