.row
  .col-sm-5.hidden-xs{ style: 'padding-right: 0' }
    = image_tag 'headshots/lisa-demo-02.jpg', style: 'width:100%'
  .col-sm-7
    .added-right-margin
      .hidden-sm.hidden-md= render 'layouts/menu'

      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{ src: 'https://www.youtube.com/embed/jtQ4mtNuCVI', webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
