%div{ style: 'margin-top: 20px' }
  .container{ style: 'background-color:white' }
    .row
      .col-sm-5.hidden-xs{ style: 'padding-right: 0' }
        = image_tag 'headshots/lisa-home-03.jpg', style: 'width:100%'

      .col-sm-7
        .added-right-margin
          .header-logo.center{ style: 'margin-top: 20px;margin-bottom: 30px' }
            = image_tag 'loud-and-lisa-logo.png'
          = render 'layouts/menu'
          %div
            %p
              Lisa Moore is a professional voiceover artist performing with passion
              and personality.

          %div.voice-qualities
            %p.center{ style: 'font-style: italic;'}
              FUN - PEPPY - FLIRTY - WARM - ALL AMERICAN - DYNAMIC

          .row
            .col-lg-3
              %p.nowrap Commercial Demo
            .col-lg-9
              %audio{ controls: '', style: 'width:100%' }
                %source{ src: 'assets/lisa-moore-vo-demo.mp3', type: 'audio/mpeg' }
                Your browser does not support the audio element.
          .row
            .col-lg-3
              %p.nowrap Narration Sample
            .col-lg-9
              %audio{ controls: '', style: 'width:100%' }
                %source{ src: 'assets/lisa-moore-vo-demo.mp3', type: 'audio/mpeg' }
                Your browser does not support the audio element.
          .row
            .col-lg-3
              %p.nowrap Character Sample
            .col-lg-9
              %audio{ controls: '', style: 'width:100%' }
                %source{ src: 'assets/lisa-moore-vo-demo.mp3', type: 'audio/mpeg' }
                Your browser does not support the audio element.

          %div.call-to-action
            %div{ style: 'text-align:center;margin-top:20px;margin-bottom:20px' }
              = link_to "Let's Work Together", contact_path, class: 'btn btn-lg btn-call-to-action'

