.row
  .col-sm-5.hidden-xs{ style: 'padding-right: 0' }
    = image_tag 'headshots/lisa-home.jpg', style: 'width:100%', alt: 'Lisa Moore - Home'

  .col-sm-7
    .hidden-sm.hidden-md= render 'layouts/menu'

    .home-1-text
      %p
        Lisa Moore is a professional voiceover artist performing with passion
        and personality. She offers a full range of services and a versatile
        sound for all media platforms.

    .home-2-text
      %div.voice-qualities
        %p.center.nowrap{ style: 'font-style: italic;'}
          SMOOTH &middot; WARM &middot;
          %span.hidden-xs.hidden-sm
            ALL-AMERICAN &middot;
          DYNAMIC &middot; PEPPY &middot; FLIRTY

    .home-3-text.audio-bar-padding
      .row
        .col-lg-3{ style: 'margin-bottom: 5px' }
          .nowrap Commercial Demo
        .col-lg-9{ style: 'margin-bottom: 10px' }
          %audio{ controls: '', style: 'width:100%' }
            %source{ src: asset_path('lisa-moore-vo-demo.mp3'), type: 'audio/mpeg' }
            Your browser does not support the audio element.
      .row
        .col-lg-3{ style: 'margin-bottom: 5px' }
          .nowrap Narration Sample
        .col-lg-9{ style: 'margin-bottom: 10px' }
          %audio{ controls: '', style: 'width:100%' }
            %source{ src: asset_path('lisa-moore-narration-sample.mp3'), type: 'audio/mpeg' }
            Your browser does not support the audio element.
      .row
        .col-lg-3{ style: 'margin-bottom: 5px' }
          .nowrap Character Sample
        .col-lg-9{ style: 'margin-bottom: 10px' }
          %audio{ controls: '', style: 'width:100%' }
            %source{ src: asset_path('lisa-moore-character-sample.mp3'), type: 'audio/mpeg' }
            Your browser does not support the audio element.
    .home-4-text
      %div.call-to-action
        .button-spacing
          = link_to contact_path, class: 'btn btn-lg btn-call-to-action' do
            %span.hidden-xs
              Let's Work Together
            %span.visible-xs
              Let's Talk
