.row
  .col-sm-5.hidden-xs{ style: 'padding-right: 0' }
    = image_tag 'headshots/lisa-services-02.jpg', style: 'width:100%'
  .col-sm-7
    .added-right-margin
      .hidden-sm.hidden-md= render 'layouts/menu'

      .home-1-text
        %p
          Lisa specializes in commercials, narration, animation, and explainer
          videos, offering:

      .home-2-text
        %div{ style: 'margin-left: 40px;margin-right:40px; border-left: 2px solid #71295A;padding-left: 20px;padding-top: 20px;padding-bottom: 10px;background-color:#E4D2DD' }
          %ul.list-unstyled
            %li{ style: 'margin-bottom: 10px' }
              %strong Home Studio
            %li{ style: 'margin-bottom: 10px' }
              %strong Flexible Rates
            %li{ style: 'margin-bottom: 10px' }
              %strong Audio Editing
            %li{ style: 'margin-bottom: 10px' }
              %strong Copywriting
            %li{ style: 'margin-bottom: 10px' }
              %strong Digital File Delivery
            %li{ style: 'margin-bottom: 10px' }
              %strong 48 Hour Turnaround

      .home-4-text
        %div.call-to-action
          %div{ style: 'text-align:center;margin-top:20px;margin-bottom:20px' }
            = link_to contact_path, class: 'btn btn-lg btn-call-to-action' do
              GET A QUOTE
              %span.hidden-xs TODAY
