.row
  .col-sm-5.hidden-xs{ style: 'padding-right: 0' }
    = image_tag 'headshots/lisa-services.jpg', style: 'width:100%', alt: 'Lisa Moore - Services'
  .col-sm-7
    .hidden-sm.hidden-md= render 'layouts/menu'

    .home-1-text
      %p
        Lisa specializes in TV and web commercials, direct response, narration,
        animation, jingles, and explainer videos.
      %p
        She connects with clients to
        determine the tone of the desired read and executes projects
        with precision to quickly deliver fully-edited files in any format
        required.


    .home-2-text
      %div{ style: 'margin-top: 30px; margin-left: 40px;margin-right:40px; border-left: 2px solid #71295A;padding-left: 20px;padding-top: 20px;padding-bottom: 10px;background-color:#E4D2DD' }
        %ul.list-unstyled
          %li{ style: 'margin-bottom: 10px; line-height: 1.1' }
            %strong Home Studio
          %li{ style: 'margin-bottom: 10px; line-height: 1.1' }
            %strong Flexible Non-Union Rates
          %li{ style: 'margin-bottom: 10px; line-height: 1.1' }
            %strong Audio Editing
          %li{ style: 'margin-bottom: 10px; line-height: 1.1' }
            %strong Copywriting
          %li{ style: 'margin-bottom: 10px; line-height: 1.1' }
            %strong Digital File Delivery
          %li{ style: 'margin-bottom: 10px; line-height: 1.1' }
            %strong 24-48 Hour Turnaround

    .home-4-text
      %div.call-to-action
        .center
          = link_to contact_path, class: 'btn btn-lg btn-call-to-action' do
            Get a Quote
            %span.hidden-xs Today
