.row
  .col-sm-5.hidden-xs{ style: 'padding-right: 0' }
    = image_tag 'headshots/lisa-contact.jpg', style: 'width:100%', alt: 'Lisa Moore - Contact'

  .col-sm-7
    .hidden-sm.hidden-md= render 'layouts/menu'

    .home-1-text
      %p.center
        Thanks for the note.
    .home-2-text
      %p.center
        We'll be in touch soon!

    .home-4-text
      %div.call-to-action
        .center
          = link_to root_path, class: 'btn btn-lg btn-call-to-action' do
            &larr;
            Back to Home
            %span.hidden-xs Page
