.call-to-action {
  background-color: $white; // brand-primary;
  // color: $white;
  background-image: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (min-width: $screen-sm-min) {
  .call-to-action {
    // margin: 0 -15px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .call-to-action {
    margin: 0 40px;
  }
}

.btn-call-to-action {
  width: 100%;
  color: $white !important;
  border-color: $white !important;
  background-color: $brand-primary !important;
  transition: all .4s ease;
  -webkit-backface-visibility: hidden;
}

.btn-call-to-action:hover,
.btn-call-to-action:focus,
.btn-call-to-action:active,
.btn-call-to-action.active,
.btn-call-to-action.disabled,
.btn-call-to-action[disabled] {
  color: $brand-primary !important;
  background-color: $white !important;
  border-color: $brand-primary !important;
}

.button-spacing {
  text-align: center;
  margin-top: 10px;
}
