.voice-qualities {
  margin-bottom: 10px;
}

@media screen and (min-width: $screen-sm-min) {
  .voice-qualities {
    margin-bottom: 20px;
  }
  .audio-bar-padding {
    padding-right: 20px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .voice-qualities {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: $screen-md-min) {
  .home-1-text {
    margin-top: 40px;
  }
  .home-2-text {

  }
  .home-3-text {

  }
  .home-4-text {
  }
}

@media screen and (min-width: $screen-lg-min) {
  .home-1-text {
    margin-top: 40px;
  }
  .home-2-text {

  }
  .home-3-text {

  }
  .home-4-text {
  }
}
