.right-image-container {
  margin-top: -209px;
  margin-right: -15px;
}

.right-image {
  min-height: 702px;
  background-image: asset-url('lisa-moore-right-column.png');
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (min-width: $screen-sm-min) {
  .right-image-container {
    margin-top: -248px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .right-image-container {
    margin-top: -285px;
  }
}


@media screen and (min-width: $screen-lg-min) {
  .right-image-container {
    margin-top: -299px;
  }
}
