$font-family-sans-serif: 'Open Sans', sans-serif;

$primary-purple: #661268;
$secondary-goldenrod: #c78f58;

$brand-primary: $primary-purple;

$link-hover-color: $secondary-goldenrod;

$footer-height: 100px;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$input-border-focus:             $brand-primary;
