%p.lead
  Lisa Moore is a non-union voiceover artist performing with passion
  and personality.

%p.lead
  FUN - PEPPY - FLIRTY - WARM - PROFESSIONAL - ALL AMERICAN - DYNAMIC

%div
  %strong Demo
  %span.glyphicon.glyphicon-play

= link_to "Let's Work Together", contact_path, class: 'btn btn-lg btn-primary'
