%p.lead
  commercials, e-learning, web, audiobooks...

%p.lead
  LOUD and LISA offers:
  %ul
    %li HOME STUDIO
    %li FLEXIBLE RATES
    %li 48 HOUR TURNAROUND
    %li AUDIO EDITING
    %li COPYWRITING ASSISTANCE
    %li PRODUCTION CONSULTATION

= link_to "GET A QUOTE TODAY", contact_path, class: 'btn btn-lg btn-primary'

